<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/eaf09f51-7cbf-409f-8561-be3a894b35e8/resourceGroups/MicroservicesInDotnet/providers/Microsoft.ContainerRegistry/registries/demoacr12</ResourceId>
    <ResourceName>demoacr12</ResourceName>
    <ResourceGroup>MicroservicesInDotnet</ResourceGroup>
    <Subscription>Visual Studio Enterprise Subscription</Subscription>
    <RegistryUrl>https://demoacr12.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7a35f860-7978-449c-a7a2-f0e4299c7cc6</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>