<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/eaf09f51-7cbf-409f-8561-be3a894b35e8/resourceGroups/DemoResourceGroup/providers/Microsoft.Web/sites/demowebapp187</ResourceId>
    <ResourceGroup>DemoResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://demowebapp187.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7a35f860-7978-449c-a7a2-f0e4299c7cc6</ProjectGuid>
    <PublishUrl>https://demowebapp187.scm.azurewebsites.net/</PublishUrl>
    <UserName>$demowebapp187</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>